.product-viewer {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: -webkit-grab;
  cursor: grab
}

.product-viewer__image {
  max-width: 100%;
  height: auto
}

.product-viewer--js-press-active {
  cursor: -webkit-grabbing;
  cursor: grabbing
}

#product_viewer--wrapper {max-width: 1024px;  width: 100%; margin:auto;}
#product_viewer {width: 100%; height:0; padding-top:56.25%; overflow: hidden;}
#product_viewer img {
  width: 100%;
  filter: brightness(1.1);
  position: absolute; top: 0; left: 0; width: 100%;
}

#product_viewer {
  position: relative;
  margin:auto;
}
#product_viewer:before,
#product_viewer:after {
  content: "";position:absolute;  left:0; width: 100%; height: 100%; z-index:1;
}
#product_viewer:before {
  top: 0;
}
#product_viewer:after {
  bottom: 0;
  /*background-image: linear-gradient(0deg, rgba(39,46,63,1) 50%, rgba(39,46,63,0));*/
  background-image: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0));
  height: 4rem;
}
#product_viewer:before {
  /*background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(0,212,255,1) 100%)*/
  /*background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 66%, rgba(255,255,255,1) 100%),radial-gradient(ellipse, rgba(255,255,255,0) 65%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);*/
  background:
    radial-gradient(ellipse, rgba(39,46,63,0) 60%, rgba(39,46,63,0.1) ),
    radial-gradient(ellipse, rgba(255,255,255,0) 55%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%),
    radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 66%, rgba(255,255,255,1) 100%);
};
